@model IEnumerable<WebApi.Common.Speaker>

@{
    ViewBag.Title = "Speaker Index";
}

<h2>Speakers</h2>
<ul id="speaker-list">
    @foreach (var s in Model)
    {
        var fame = s.Fame > 9000 ? "OVER 9000!!!" : s.Fame.ToString();
        <li>@s.Name (Fame is @fame)</li>
    }
</ul>

<form action="/api/speaker/" method="post" id="add-speaker">
    <fieldset>
        <legend>Why not add some more?</legend>
        <div class="editor-field">
            @Html.Label("name", "Name:")
            @Html.TextBox("name")
        </div>
    
        <div class="editor-field">
            @Html.Label("fame", "Fame:")
            @Html.TextBox("fame")
        </div>
    
        <div>
            <input type="submit" value="Add" />
        </div>
    </fieldset>
</form>

@section script{
<script type="text/javascript">
    $(function () {
        $('input[type="submit"]', $('#add-speaker')).click(function () {
            var postData = { name: $('input[name="name"]').val(), fame: $('input[name="fame"]').val() };
            $.ajax({
                data: postData,
                type: 'POST',
                url: '/api/speaker',
                success: function (data, textStatus, jqXHR) {
                    $('<li>').html(data.Name + " (Fame is " + data.Fame + ")")
                        .appendTo($('#speaker-list'));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 401)
                        alert('gotta login first');
                    else
                        alert('oh phooey. check fiddler');
                }
            });
            return false;
        });
    });
</script>
}